.wrapperWeatherToday {
  display: flex;
  justify-content: center;
}

.contetntWeatherToday {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid #000;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

.descr{
  display: flex;
}